.posts .card{
    
   box-shadow: 0 0 10px #ddd;
   border-radius: 5px;
}

/* ------- Post Card Header ----- */

.posts .card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 15px 25px;
}

.posts .card_header .card_name{
    transform: translateY(3px);
}

.posts .card_header .dropdown-menu{
    position: absolute;
    left: inherit !important;
    right: 0;
}

.posts .card_header .dropdown-item{
    display: flex;
    margin: 5px 0;
}


@media (max-width: 768px) {
    .posts .card{
        margin-left: 1%;
    }
}

/*----- PostCard Body ---------- */

.posts .card_body-content{
    padding: 0 25px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.posts .card_body-content .readMore{
    color: crimson;
    cursor: pointer;
}

/*------- PostCard Footer ------- */

.posts .lineHorizontal__container {
    align-items: center;
    display: flex;
    height: 15px;

  }
 .posts .lineHorizontal {
    border-top: 1px solid rgb(207, 207, 196);
    width: 90%;
    margin-left: 4%;
  }


.posts .card_icon_menu{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    cursor: pointer;
}

.posts .card_icon_menu i{
    font-size: 28px;
    margin: 10px;

}
